.register-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.register-card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  animation: fadeIn 0.5s ease-in-out;
}

.register-title {
  text-align: center;
  margin-bottom: 1rem;
  color: #333333;
}

.register-subtitle {
  text-align: center;
  color: #666666;
  margin-bottom: 1rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.register-label {
  font-weight: bold;
  display: block;
  color: #333333;
}

.register-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  transition: border-color 0.2s ease-in-out;
  color: #333333;
  background-color: #ffffff;
}

.register-input:focus {
  border-color: #6B46C1;
  outline: none;
}

.register-input-error {
  border-color: red;
}

.register-error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.register-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #6B46C1;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.register-button:hover {
  background-color: #5B36B1;
}

.register-login-link {
  text-align: center;
  margin-top: 1rem;
}

.register-link {
  color: #6B46C1;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.register-link:hover {
  color: #5B36B1;
}

.register-password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.register-password-toggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666666;
  transition: color 0.2s ease-in-out;
}

.register-password-toggle:hover {
  color: #5B36B1;
}

/* Animações */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
